In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Import conventionnel
import pandas as pd

### Data Structures

Series (1D)

In [54]:
s = pd.Series(['a', 'b', 'c', 'd'],  index=[1, 2, 3, 4])

In [55]:
s

1    a
2    b
3    c
4    d
dtype: object

DataFrame (2D)

In [6]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]}

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

In [7]:
df.head()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

### I/O

In [69]:
df = pd.read_csv('movies.csv', index_col='movieId')

In [70]:
type(df)

pandas.core.frame.DataFrame

In [73]:
df.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

### Selection

In [56]:
s[1]

'a'

In [134]:
df[:10]

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

In [133]:
s = df_test.iloc[0,0]
s

'Toy Story (1995)'

In [90]:
df.iloc[[0]]

                    title                                       genres
movieId
1        Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

La fonction map() applique une fonction sur chaque élément d'une colonne.

In [ ]:
data['colomn'].map(lambda x: x+1)

La fonction apply() applique une fonction sur chaque élément du Dataframe

In [ ]:
m

In [ ]:
data['sex'].map({'male':0, 'female':1})
data['sex'].replace(['male', 'female'], [0,1])
data['sex'].astype('category').cat.codes

Pandas est l'un des principaux outils du data scientist avec matplotlib (data viz) et NumPy sur lequel Pandas est construit.

La librairie permet d'élaborer des structures de données pour l'analyse.

Simple et efficace, cependant il y'a beaucoup de fonctionnalités et d'options !